body {
    padding: 0;
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.horizontal-panel>* {
    margin-right: .5rem;
    vertical-align: middle;
}

.horizontal-panel label input[type=radio] {
    margin-right: .3rem;
}

.vertical-panel>* {
    margin-bottom: .5rem;
}

.pretty-print-viewer {
    font-family: monospace;
    white-space: pre;
}

.root-header {
    padding: .5rem;
    background-color: #eee;
}

.root-viewer {
    margin: .7rem;
}

.toolbar-panel {
    color: #888;
}

.root-viewer .toolbar,
.table-object-viewer .header .toolbar {
    padding-bottom: .1rem;
    border-bottom: 1px solid #bbb;
    display: inline-block;
}

.object-field-viewer {
    display: flex;
}

.object-field-viewer:hover {
    background-color: #eee;
}

.object-field-viewer .name {
    font-weight: bold;
    margin-top: .1rem;
    margin-bottom: .1rem;
    white-space: pre;
    background-color: #ddd;
    padding: .1rem .5rem;
}

.object-field-viewer .button {
    margin-top: .1rem;
    margin-bottom: .1rem;
    white-space: pre;
}

.object-field-viewer .button:after {
    content: '\0020';
}

.object-field-viewer .button .fas,
.object-field-viewer .button .far {
    font-size: .7rem;
    width: 1rem;
    color: #888;
    vertical-align: middle;
}

.object-field-viewer .button .far.fa-circle {
    font-size: .3rem;
}

.object-field-viewer .value,
.table-object-viewer .value {
    display: inline-block;
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.value {
    padding: .1rem .5rem;
    color: #808;
    white-space: pre-wrap;
}

.value.string {
    color: #080;
}

.value.simplified,
.value.empty {
    color: #880;
}

.object-inner-viewer {
    padding-left: 1rem;
    border-left: 1px solid #ddd;
}

.table-viewer {
    border-collapse: collapse;
}

.table-viewer td,
.table-viewer th {
    border: 1px solid #aaa;
    padding: .2rem .5rem;
    vertical-align: top;
}

.table-viewer th {
    background-color: #eee;
}

.table-viewer th.clickable:hover {
    background-color: #ddd;
}

.table-object-viewer {
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: -.2rem;
    margin-bottom: -.2rem;
}

.table-object-viewer .header {
    margin-left: -.7rem;
    margin-right: -.7rem;
    padding-left: .7rem;
    padding-right: .7rem;
    display: flex;
}

.table-object-viewer .header:hover {
    background-color: #eee;
}

.table-object-viewer .header .button {
    margin-left: -.7rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
    padding-left: .7rem;
    white-space: pre;
}

.table-object-viewer .header .button:after {
    content: '\0020';
}

.table-object-viewer .header .button .fas {
    font-size: .7rem;
    color: #888;
    vertical-align: middle;
}