.clickable {
    cursor: pointer;
}

.horizontal-panel>* {
    margin-right: .5rem;
}

.vertical-panel>* {
    margin-bottom: .5rem;
}

.raw-viewer {
    font-family: monospace;
    white-space: pre;
}

.object-field-viewer {
    display: flex;
}

.object-field-viewer .name {
    font-weight: bold;
    margin-right: .5rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
    white-space: pre;
}

.object-field-viewer .name .fas,
.object-field-viewer .name .far {
    font-size: .7rem;
    width: 1rem;
    color: #888;
    vertical-align: middle;
}

.object-field-viewer .name .far.fa-circle {
    font-size: .3rem;
}

.object-field-viewer .value {
    white-space: pre;
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.value {
    color: #008;
}

.value.string {
    color: #080;
}

.object-inner-viewer {
    padding-left: .7rem;
    border-left: 1px solid #ddd;
}

.table-viewer {
    border-collapse: collapse;
}

.table-viewer td,
.table-viewer th {
    border: 1px solid #aaa;
    padding: .2rem .5rem;
    vertical-align: top;
}

.table-viewer th {
    background-color: #eee;
}