body {
    padding: 0;
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #ddf;
}

.highlight-on-hover:hover {
    background-color: #eee;
}

.selection-panel {
    color: #bbb;
    >* {
        margin-right: .3rem;
        input {
            margin-right: .3rem;
        }
    }
    .icon {
        margin-right: 0;
        padding: 0 .1rem;
        white-space: pre;
        input {
            display: none;
        }
        i {
            font-size: .7rem;
        }
    }
    .icon.checked {
        color: #000;
    }
    .icon:before {
        content: '\0020';
    }
    .icon:after {
        content: '\0020';
    }
    .icon:hover {
        background-color: #ddd;
    }
}

.simple-value {
    display: inline-block;
    white-space: pre-wrap;
    color: #808;
}

.simple-value.string {
    color: #080;
}

.simple-value.complex {
    color: #880;
}

.simple-value.link {
    color: #008;
}

.raw-viewer {
    padding-left: .5rem;
    padding-right: .5rem;
    pre {
        margin: 0;
    }
}

.pretty-print-viewer {
    font-family: monospace;
    white-space: pre;
    padding-left: .5rem;
    padding-right: .5rem;
}

.json-viewer {
    .body {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

.json-viewer-header {
    padding: .5rem;
    background-color: #eee;
    >* {
        margin-right: .5rem;
        input {
            margin-right: .3rem;
        }
    }
}

.root-object-viewer {
    .header-row {
        padding-top: .1rem;
        padding-bottom: .1rem;
        display: flex;
        .icon {
            white-space: pre;
            min-width: 1rem;
            text-align: center;
            padding-right: .5rem;
            .fa-circle {
                font-size: .3rem;
                transform: translateY(-.15rem);
            }
            .fa-chevron-right,
            .fa-chevron-down {
                font-size: .7rem;
            }
        }
        .icon:after {
            content: '\0020';
        }
    }
}

.object-action-bullet {
    .icon {
        white-space: pre;
        min-width: 1rem;
        text-align: center;
        padding-right: .5rem;
        .fa-circle {
            font-size: .3rem;
            transform: translateY(-.15rem);
        }
        .fa-chevron-right,
        .fa-chevron-down {
            font-size: .7rem;
        }
    }
    .icon:after {
        content: '\0020';
    }
}

.object-row-viewer {
    .value-row {
        padding-top: .1rem;
        padding-bottom: .1rem;
        display: flex;
        .label {
            padding-left: .5rem;
            padding-right: .5rem;
            font-weight: bold;
            background-color: #ddd;
        }
        .simple-value {
            padding-left: .7rem;
            padding-right: .5rem;
        }
        .toolbar {
            padding-left: .4rem;
            padding-right: 1rem;
        }
    }
}

.object-table-viewer>table {
    border-collapse: collapse;
    td,
    th {
        border: 1px solid #ddd;
        vertical-align: top;
    }
    th {
        background-color: #eee;
        padding: .1rem .5rem;
    }
    td {
        .simple-value {
            padding: .1rem .5rem;
        }
    }
}